<navbar></navbar>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Bowling</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in bowling.awesomeThings">
        <li><a>{{thing.name}}<button ng-show="isAdmin()" type="button" class="close" ng-click="bowling.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Doluluk oranı: {{bowling.awesomeThings.length}} / 32</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="İsminizi giriniz." ng-model="bowling.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="bowling.addThing()">Ekle</button>
      </span>
    </p>
  </form>
</div>

<footer></footer>
