$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'basketball/basketball.scss';
@import 'billard/billard.scss';
@import 'boccia/boccia.scss';
@import 'bowling/bowling.scss';
@import 'football/football.scss';
@import 'kokteyl/kokteyl.scss';
@import 'main/main.scss';
@import 'minigolf/minigolf.scss';
@import 'tennis/tennis.scss';
@import 'yemek/yemek.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
// endinjector
